html 
  font-family  "PingFangSC-Regular","Helvetica Neue", Helvetica, Arial
  font-size  20px
  
  -ms-text-size-adjust  100%
  -webkit-text-size-adjust  100%

  -webkit-touch-callout  none
  -webkit-user-select  none
  -khtml-user-select  none
  -moz-user-select  none
  -ms-user-select  none
  user-select  none

body 
  font-size  .7rem
  overflow-x  hidden
  -webkit-overflow-scrolling  touch
  color  #333

textarea, input, label, div
  &:focus
    border none
    outline 0

textarea
  resize  none
  padding 0
  border none

body, ul, p, dl, dd
  margin 0
  padding 0


li
  list-style-type none


// //我的关注
.my-follow-wp
  background #fff

.js-follow-more,.js-follow-v
  display none

.follow-more-wp

.c-loading
  display none
  background #f8f8f8
  text-align center
  font-size .6rem
  padding .5rem 0
  p
    line-height 1.8
   
  .loading-icon
    display inline-block
    width 18px
    height 18px
    background url(./assets/loading.png)
    background-size  auto 18px
    animation  rotate .8s steps(12) infinite
  

@-webkit-keyframes rotate 
  0%
    transform rotate(0deg)
  
  100%
    transform rotate(360deg)
  

// .c-att-tit
//   padding-left 1rem
//   margin 0
//   background #f6f6f6
//   font-size 0.72rem
//   font-weight normal
//   line-height 2.3

// .c-att-more-list
//   position: absolute
//   left:5rem;
//   top:0;
//   right:0;
//   bottom:0;
//   z-index:33;
//   overflow:scroll;
//   background:#fff;

//   .c-att-ul .c-att-href
//     top:1rem;
  
//   .c-att-ul .c-att-info
//     // width:97%;
//     margin-left: 6px;
//     margin-right: 6px;
  

// .c-att-ul
//   .c-att-time
//     float:right;
//     font-size:.6rem;
//     color:#c3c3c3;
  
//   &.att-more
//     position:relative;
//     left:0;
//     border-top:1px solid #f6f6f6;
//     .c-att-title
//       margin-top:.2rem;
//       margin-right:5rem;

//   li
//     position:relative;
//     z-index:1;
//     padding:.8rem;
//     border-bottom:1px solid #eee;
//     overflow:hidden;
  
//   img
//     width:2.9rem;
//     height:2.9rem;
//     float:left;
//     margin-right:.7rem;
//     border-radius:200px;
//     background: url(../assets/pic_head.png) no-repeat;
//     background-size:100% 100%;
//     overflow: hidden;
//     border:1px solid #ccc;
   
//   .c-att-href
//     position:absolute;
//     top:1.4rem;
//     right:1rem;
//     width: 50px;
//     height: 25px;
//     line-height: 25px;
//     text-align: center;
//     // padding:.25rem .4rem;
//     border:1px solid #ccc;
//     font-size:.6rem;
//     color:#333;
//     text-decoration:none;
//     &.on
//       color:#ccc;
//       border:1px solid #eee;
    
  
//   .c-att-title
//     margin:0;
//     margin-right:4rem;
//     color:#333;
//     font-size:.82rem;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     font-family: PingFangSC-Regular;
//     font-weight: 400;
  
//   .c-att-fans
//     height:.8rem;
//     margin-top:2px;
//     color:#C3C3C3;
//     font-size:.6rem;
  
//   .c-att-info
//     margin-top:2px;
//     margin-right:45px;
//     // padding-left:6px;
//     color:#999;
//     font-size:.6rem;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     overflow: hidden;
  

// .c-att-more
//   display:block;
//   margin:1rem;
//   font-size:.85rem;
//   color:#333;
//   border:1px solid #ccc;
//   line-height:2.5;
//   text-align:center;
//   text-decoration:none;
//   span
//     width: 15px;
//     height: 15px;
//     display: inline-block;
//     background: url(../assets/follow.png) no-repeat;
//     background-size: 100%;
//     vertical-align: -2px;
  


// /*作者页*/
// .c-auth-top
//   position:relative;
//   z-index:2;
//   .c-auth-bg
//     width: 100%;
//     position:relative;
//     z-index:8;
//     height:6rem;
//     overflow:hidden;
//     background: url('../assets/head_bg.png') center no-repeat;
//     background-size: 100% auto;
//     img
//       width: 100%;
//       height: 100%;
    
//     &:before{
//       position:absolute;
//       width:100%;
//       height:100%;
//       // background:url(https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2661075060,4037434669&fm=23&gp=0.jpg);
//       background-size:100% auto;
//       content:'';
//       z-index:-1;
//       -webkit-filter: blur(5px);
//       filter: blur(5px);
//     }
  
//   .c-auth-native
//     width: 100%;
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 10;
//     height: 64px;
//     background: url(../assets/layer.png) no-repeat;
//     background-size: 100% 100%;
   
//   .c-auth-info
//     position:relative;
//     z-index:21;
//     padding:.8rem;
//     margin-top:-3rem;
//     overflow:hidden;
//     text-align:center;
  
//   .c-auth-img
//     width:3rem;
//     height:3rem;
//     border-radius:100px;
//     background: url(../assets/pic_head.png) no-repeat;
//     background-size: 100% 100%;
//     background-color:#fff;
//     overflow: hidden;
//     border: 1px solid rgba(238,238,238,.3);
  
//   .c-auth-jj
//     margin-top:.3rem;
//     font-size:.6rem;
//     color:#666;
//     text-align:center;
  
//   .c-auth-tips
//     font-size:.6rem;
//     color:#333;
//     margin-top:.3rem;
//     line-height:1;
//     span
//       position:relative;
//       z-index:10;
//       padding-left:1rem;
//       padding-right:1rem;
//       &:last-child{
//         &:before{
//           position:absolute;
//           z-index:22;
//           left:0;
//           top:.1rem;
//           height:.55rem;
//           width:1px;
//           content:'';
//           border-left:1px solid #333;
//         }
//       }
    
   
//   .c-auth-title
//     margin:0;
//     margin-top:.3rem;
//     font-size: 17px;
//     color: #333;
//     font-family: PingFangSC-Regular;
//     font-weight: 400;
  


// .c-auth-f
//   text-align:center;
//   background:#fff;
//   overflow:hidden;

// .c-auth-follow
//   display:inline-block;
//   width: 105px;
//   height: 32px;
//   line-height: 32px;
//   margin:auto;
//   border:1px solid #ccc;
//   color:#333;
//   text-decoration:none;
//   font-size:12px;
//   &.on
//     color:#ccc;
//     border:1px solid #eee;
  
//   span
//     font-size:.7rem;
  


// .c-tab-list
//   // height: 100%;
//   margin-top:.6rem;
//   background:#fff;
//   border-top:.5rem solid #f6f6f6;
//   &.tag-name
//     margin-top:0;
//     padding:0;
//     border-top:none;
//     .c-tab-title
//       border-bottom:1px solid #f6f6f6;
    
  

// .c-tab-title
//   display:flex;
//   border-bottom:1px solid #eee;
//   li
//     flex:1;
//     text-align:center;
//     color:#999;
//     line-height:44px;
//     font-size:.77rem;
//     &.on
//       position:relative;
//       z-index:10;
//       color:#333;
//       &:after{
//         position:absolute;
//         bottom:0;
//         content:'';
//         left:50%;
//         margin-left: -10px;
//         width: 20px;
//         height: 1px;
//         background: #333;
//       }
    
  

// .c-tab-ul
//   .c-media-audio
//     overflow:hidden;
//     padding-bottom: 6px;
    
//     & + .c-tab-ue
//       margin-top: 0;
    
//     & ~ .c-looked
//       margin-top: 3px;
    

  
//   .media-audio
//     .c-tab-jj
//       display: inherit;
//       margin-right:10px;
//       word-break: break-all;
    
//     .c-media-time
//       font-size:.6rem;
//       color:#c3c3c3;
//       margin-left:.5rem;
    
//     .c-tag-media
//       position:relative;
//       z-index:21;
//       width: 70px;
//       height: 70px;
//       float: right;
//       margin-right:.9rem;
//       border-radius:100px;
//       border:2px solid #eee;
//       &:after{
//         position:absolute;
//         top:0;
//         left:0;
//         right:0;
//         bottom:0;
//         content:'';
//         z-index:97;
//         background:#1b1b1b;
//         opacity:0.3;
//         border-radius:100px;
//       }
    
//     .c-tag-media .c-tag-video
//       background:none;
//       border:none;
    

//     .c-auth-info-img
//       // width:100%;
//       height:100%;
//       min-height: 100%;
//       margin-top:0;
//       border-radius:100px;
    


  
//   li
//     position:relative;
//     padding:.8rem;
//     padding-bottom: 5px;
//     overflow:hidden;
//     border-bottom:1px solid #f6f6f6;
  
//   .media-qing
  
//   .c-tag-media
//     position:relative;
//     z-index:12;
//     display:block;
//     overflow:hidden;
//     .c-media-time
//       position:absolute;
//       display:inline-block;
//       // border:1px solid rgba(255,255,255, .3);
//       background:rgba(27,27,27,0.4);
//       border-radius:2px;
//       color:#fff;
//       line-height:1;
//       padding:2px;
//       // font-size:.3rem;
//       bottom:.4rem;
//       right:.3rem;
//       // z-index:99;
//       font-size: 10px;
//       border-radius: 2px;
//       width: 34px;
//       height: 16px;
//       line-height: 16px;
//       text-align: center;
    
//     .c-tag-video
//       position:absolute;
//       display:block;
//       width:50px;
//       height:50px;
//       top:50%;
//       left:50%;
//       margin-left:-25px;
//       margin-top:-25px;
//       z-index:99;
//       background:rgba(0,0,0,.3);
//       border-radius:100px;
//       border:1px solid transparent;
//       &:after{
//         content:'';
//         position:absolute;
//         top:16px;
//         left:18px;
//         z-index:100;
//         width:0;
//         height:0;
//         border-top: 9px solid transparent;
//         border-left: 16px solid #fff;
//         border-bottom: 9px solid transparent;
//      } 
    

//     .c-tag-video-time
//       position: absolute;
//       z-index: 99;
//       color: #fff;
//       bottom: 10px;
//       right: 0;
//       font-size: 12px;
    

//     .c-tag-audio
//       &:after{
//         border-left-color: transparent;
//       }
    
  
//   .c-auth-img
//     width:30px;
//     height:30px;
//     margin-right:10px;
//     border-radius:100px;
//     vertical-align:-.6rem;
//     background: url(../assets/pic_head.png) no-repeat;
//     background-size: 100% 100%;
//     background-color:#fff;
//     border: 1px solid rgba(238,238,238,.3);
  
//   .c-tab-jj
//     display:block;
//     margin-top:.5rem;
//     line-height:1.4;
//     &.long
//       overflow:hidden; 
//       text-overflow:ellipsis;
//       display:-webkit-box; 
//       -webkit-box-orient:vertical;
//       -webkit-line-clamp:5; 
    
//     &.short
//       overflow:hidden; 
//       text-overflow:ellipsis;
//       display:-webkit-box; 
//       -webkit-box-orient:vertical;
//       -webkit-line-clamp:2; 
    
   
//   .c-auth-info-img
//     display:block;
//     width:100%;
//     margin-top:.5rem;
//     margin-right: 2px;
//     margin-bottom: 2px;
//     background: url(../assets/default.jpg)center no-repeat;
//     background-size: 100% 100%;
  
//   .media-audio .c-auth-audio-img
//     background: url(../assets/audio_default.png)center no-repeat;
//     background-size: 100% 100%;
//     // min-height: 100%;
  
//   .c-looked
//     display:inline-block;
//     margin-top:.8rem;
//     font-size:.6rem;
//     color:#c3c3c3;
  
//   .c-auth-title
//     display:inline-block;
//     white-space: nowrap;
//     max-width: 60%;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     font-size: 14px;
//     vertical-align: middle;
//     font-family: PingFangSC-Regular;
//     font-weight: 400;
  
//   .c-att-t
//     position:absolute;
//     right:.8rem;
//     top:.9rem;
//     width: 50px;
//     height: 25px;
//     line-height: 25px;
//     text-align: center;
//     font-size:10px;
//     color:#333;
//     border:1px solid #ccc;
//     text-decoration:none;
//     &.on
//       border:1px solid #eee;
//       color:#ccc;
    
//     > span
//       vertical-align: top;
    
  

//   .c-att-delete
//     position: absolute;
//     right: .8rem;
//     top: 1.1rem;
//     font-size: .6rem;
//     text-decoration: none;
//     background: url(../assets/delete.png) center no-repeat;
//     display: inline-block;
//     height: 1rem;
//     width: 1rem;
//     background-size: 100% auto;
//     &.on
//       border:1px solid #eee;
//       color:#ccc;
    
  


// .c-att-fixed
//   position:absolute;
//   left:0;
//   top:0;
//   bottom:0;
//   width:5rem;
//   background:#f6f6f6;
//   z-index:33;
//   overflow-y:scroll;

// .c-att-bar
//   li
//     line-height:5;
//     text-indent:1rem;
//     font-family: PingFangSC-Regular;
//     color: #999;
//     &.on
//       border-left:4px solid #333;
//       background:#fff;
//       color: #333;
    
  


// .c-tab-ue
//   float:right;
//   margin-top:.5rem;
//   margin-right:1rem;
//   > span
//     position:relative;
//     z-index:15;
//     display:inline-block;
//     width:20px;
//     height:20px;
//     margin-left: 30px;
//     > span
//       color:#4C92FB;
//       font-size:.4rem;
    
//     &.c-zan
//       .zan-icon
//         display:inline-block;
//         height:20px;
//         width:20px;
//         background:url(../assets/zan.png) center no-repeat;
//         background-size:100% auto;
//         // vertical-align:2px;
      
//       .c-add1
//         position:absolute;
//         top: -9px;
//         right: -15px;
//         z-index:99;
//         color:#4C92FB;
//         animation: add 800ms linear 1 forwards;
      
//       .zan-icon.on-no-inmation
//         background:url(../assets/tag-zan.png) center no-repeat;
//         background-size:100% auto;
      
//       .zan-icon.on
//         background:url(../assets/tag-zan.png) center no-repeat;
//         background-size:100% auto;
//         transform: scale(1);
//         animation: zans 800ms linear 1 forwards;
      
//       .c-num
//         position:absolute;
//         top: -2px;
//         left: 16px;
//         line-height:1;
//         background:#fff;
//         // padding: 2px;
      
    
//     &.c-comment
//       background:url(../assets/comment.png) center no-repeat;
//       background-size:100% auto;
//       .c-num
//         position:absolute;
//         top:-4px;
//         left:15px;
//         padding:2px;
//         line-height:1;
//         background:#fff;
      
    
  


// @keyframes add
//   0%
//     opacity:1;
//     transform: translateY(0px);
  
//   100%
//     opacity:0;
//     transform: translateY(-12px);
  

// @keyframes zans
//   0%
//     transform:scale(1);
  
//   50%
//     transform:scale(1.8);
  
//   100%
//     transform:scale(1);
  

  
// .c-art
//   padding:.7rem;
//   .c-art-title
//     margin:0;
//     font-size:1.2rem;
//     color:#333;
//     font-weight:normal;
  
//   .c-art-info
//     margin-top:1rem; 
  
//   .c-art-img
//     display:inline-block;
//     float:left;
//     position:relative;
//     z-index:12;
//     .c-art-v
//       position:absolute;
//       left:.8rem;
//       bottom:0;
//       z-index:22;
//       width:.7rem;
//       height:.7rem;
//       border:2px solid #fff;
//       line-height:1.1;
//       font-size:.6rem;
//       color:#fff;
//       text-align:center;
//       border-radius:50px;
//       background:#F9712C;
    
//     img
//       width:1.5rem;
//       height:1.5rem;
//       margin-right:.3rem;
//       border-radius:100%;
    
   
//   .c-att
//     float:right;
  
//   .c-art-name
//     .c-name
//       font-size:.7rem;
//       color:#666;
    
//     .c-jd
//       font-size:.6rem;
//       color:#666;
    
  
//   .c-art-cp
//     line-height:1;
//     span
//       color:#c3c3c3;
//       font-size:.6rem;
    
  
//   .c-att
//     padding:.2rem .4rem;
//     text-decoration:none;
//     color:#333;
//     border:1px solid #ccc;
//     font-size:.5rem;
//     line-height:1.5;
//     &.on
//       border:1px solid #eee;
//       color:#ccc;
    
   
//   .c-art-jj
//     margin-top:1rem;
//     font-size:.86rem;
//     color:#999;
//     line-height:1.5;
//     &:before{
//       position:relative;
//       top:.1rem;
//       display:inline-block;
//       content:'';
//       width:4px;
//       height:.86rem;
//       background:#eee;
//    } 
  
//   .c-art-page
//     margin-top:1.5rem;
//     line-height:1.5;
//     color:#151515;
//     font-size:.86rem;
//     img
//       width:100%;
//       margin:1rem 0;
    
  

// .c-art-tag
//   padding:.7rem;
//   span
//     display:inline-block;
//     padding:.3rem .4rem;
//     margin-right:.4rem;
//     border:1px solid #ccc;
//     color:#333;
//     font-size:.64rem;
  

// .c-art-share
//   .c-art-share-title
//     font-weight:100;
//     text-align:center;
//     color:#333;
  
//   .c-art-share-ul
//     display:flex;
//     margin:0 .8rem;
//     li
//       flex:1;
//       text-align:center;
//       span
//         display:inline-block;
      
//       .c-zan
//         width:2.5rem;
//         height:2.5rem;
//         background:url(../assets/zans.png) center no-repeat;
//         background-size:100%;
      
//       .c-wx
//         width:2.5rem;
//         height:2.5rem;
//         background:url(../assets/wx.png) center no-repeat;
//         background-size:100%;
      
//       .c-wb
//         width:2.5rem;
//         height:2.5rem;
//         background:url(../assets/wb.png) center no-repeat;
//         background-size:100%;
      
//       .c-fr
//         width:2.5rem;
//         height:2.5rem;
//         background:url(../assets/friend.png) center no-repeat;
//         background-size:100%;
      
//       a
//         text-decoration:none;
//         font-size:.5rem;
//         color:#333;
      
//       .c-share-info
//         display:block;
//         margin-top:.3rem;
      
    
  

// .no-fix
//   position:relative;
//   left:0;

// .tag-name
//   .c-tab-title
//     position:fixed;
//     top:0;
//     left:0;
//     right:0;
//     z-index:11;
//     background:#fff;
  
//   .c-tab-bd
//     transition: 330ms; 
//     transform: translate3d(0px, 0px, 0px);
//     &.on
//       margin-top:1.3rem;
    
  


// //下拉刷新
// .pull-down-content 
//   display: block!important;
//   margin-top: -65px;
//   height: 65px;
//   text-align: center;
//   line-height: 55px;
//   font-size: 14px;
//   background-color: #f8f8f8;
//   overflow:hidden;

// #pullIcon
//   position:relative;
//   z-index:11;
//   width: 20px;
//   height: 20px;
//   display: block;
//   margin: auto;
//   vertical-align: middle;
//   .pull-re
//     position:absolute;
//     top:15px;
//     left:0;
//     z-index:12;
  
//   .pull-ab
//     position:absolute;
//     top:15px;
//     left:0;
//     z-index:13;
//     &.rotate
//       animation: rotate .8s steps(12) 1.3s infinite;
    
  

// #pullIcon.anima
//     stroke-dasharray: 100;
//     stroke-dashoffset: 100;
//     animation: dash 2s linear 1 forwards;
  

// .pull-down-content 
//   svg
//     width:17px;
//     height:17px;
//     transform:rotate(45deg);
  

// .pull-down-content #arrowIcon 
//   width: 20px;
//   height: 20px;
//   display: block;
//   margin:auto;
//   vertical-align: middle;

//   @keyframes dash 
//     from 
//           stroke-dashoffset:100;
    
//     to 
//           stroke-dashoffset:0;
    
  

//     .c-qing-img-wp
//       overflow:hidden;
//       margin-top:.5rem;
//       position:relative;
//       z-index:13;
//       margin-right:-12px;
      
//       .c-qing-num
//         position:absolute;
//         right:1rem;
//         bottom:.3rem;
//         width:.9rem;
//         height:.9rem;
//         text-align:center;
//         line-height:1.3;
//         font-size:.68rem;
//         background: rgba(27,27,27,0.80);
//         border-radius:1px;
//         color:#fff;
      
//       .c-qing-img
//         float:left;
//         width:31.2%;
//         height:66px;
//         margin-right:5px;
//         background: url(../assets/default.jpg)center no-repeat;
//         background-size: 100% 100%;
      
    
// .c-qing-img-one
//   margin-top: .5rem;
//   img
//     width:100%;
//     max-height:400px;
//     background: url(../assets/default.jpg)center no-repeat;
//     background-size: 100% 100%;
        
      
// .pull-down-content .spinner 
//   display: inline-block;
//   margin-right: 8px;

// .c-error-tip
//   font-size: 12px;
//   color: #f00;


// .c-tab-empty
//   width: 100%;
//   height: 200px;
//   // min-height: 270px;
//   position: relative;
//   text-align: center;
//   background: #fff;
//   display: none;
//   display: inline-block;
//   vertical-align: middle;
//   &:after{
//     display: inline-block;
//     width: 0;
//     height: 100%;
//     line-height: 1;
//     margin-top: -50px;
//     vertical-align: middle;
//     content: '';
//   }
//   img
//     width: 80px;
//     display: inline-block;
  
//   p  
//     display: inline-block;
//     vertical-align: middle;
//     font-size: 12px;
//     color: #333;
  

// .c-author
//   background: #fff;
//   width: 100%;
//   height: 100vh;

//   .c-tab-ul .c-auth-title
//     max-width: 230px;
  


// .c-empty
//   width: 100%;
//   position: relative;
//   padding-top: 200px;
//   text-align: center;
//   display: none;
//   img
//     width: 80px;
//     position: absolute;
//     text-align: center;
//     left: 50%;
//     margin-left: -40px;
//     vertical-align: middle;
  
//   p    
//     margin-top: 90px;
//     font-size: 12px;
//     color: #333;
  


// .author-body
//   background: #fff;


// .c-wp
//   .transparent-bg
//     background: transparent;
//     background-image: none;
//     background-size: 0;
  
.c-wp
  height: 100%;
  display: flex;
  flex-flow: column;
  
//主客页
.c-auth-top
  .c-auth-bg
    width 100%
    height 6rem
    &:after
      content ''
      position fixed
      top 0
      left 0
      z-index 10
      width 100%
      height 3.2rem
      background url(./assets/layer.png) no-repeat
      background-size 100% 100%
    img
      width 100%
      height 100%
  .c-auth-info
    text-align center
    position relative
    .c-auth-head
      width 3rem
      height 3rem
      position absolute
      top -44px
      text-align center
      margin auto
      left 0
      right 0
      img
        width 100%
  .c-author-intro
    padding 26px 20px 15px
    text-align center
    h3
      font-size 17px
      color #333
      font-weight 400
      margin 0
    .c-auth-jj 
      font-size 12px
      color #666
      line-height 16px
      margin 7px 0
    .c-auth-tips span
      font-size 12px
      margin 0 20px
      &:first-of-type
        margin 0
        &:after
          content ''
          width 1px
          height 12px
          background #333
          display inline-block
          margin-left 20px
          vertical-align -2px
  .c-auth-follow
    display block
    width 105px
    height 32px
    line-height 32px
    margin auto
    margin-top: 15px;
    border 1px solid #ccc
    color #333
    text-decoration none
    font-size .6rem
    &.on
      color #ccc
      border 1px solid #eee
    
    span
      font-size .7rem
    

.c-tab-list 
  background #fff
  border-top .5rem solid #f6f6f6
  
  .c-tab-title
    display flex
    height 2.2rem
    line-height 2.2rem
    font-size .8rem
    color #999
    border-bottom 1px solid #f6f6f6
    & > li
      flex 1
      text-align center
      &.on
        position relative
        color #333
        &:after
          position absolute
          bottom 0
          content ''
          left 50%
          margin-left -10px
          width 20px
          height 1px
          background #333

.c-tab-ul
  > li
    position relative
    padding .8rem
    padding-bottom .6rem
    overflow hidden
    border-bottom 1px solid #f6f6f6
    
.c-media-info
  display inline-block
  > img
    width 1.5rem
    height 1.5rem
    margin-right .5rem
    border-radius 50%
    vertical-align -.6rem
    background url(./assets/pic_head.png) no-repeat
    background-size 100% 100%
    background-color #fff
    border 1px solid rgba(238, 238, 238, 0.3)
  > p
    display inline-block
    white-space nowrap
    max-width 210px
    overflow hidden
    text-overflow ellipsis
    font-size 14px
    vertical-align middle
.c-att-t
  position absolute;
  right .8rem;
  top .9rem;
  width 50px;
  height 25px;
  line-height 21px;
  text-align center;
  font-size 10px;
  color #2873ff;
  border 1px solid #2873ff;
  text-decoration none;
  box-sizing border-box;
  &.on
    border 1px solid #eee;
    color #ccc;
  
  > span
    vertical-align 1px;
  
.c-att-delete
  position: absolute;
  right: .8rem;
  top: 1.1rem;
  font-size: .6rem;
  text-decoration: none;
  background: url(./assets/delete.png) center no-repeat;
  height: 1rem;
  width: 1rem;
  background-size: 100% auto;
  &.on
    border: 1px solid #eee;
    color: #ccc;

.c-media-desc
  margin 11px 0 12px
  font-size .85rem

.c-media-content
  img
    width 100%
  
.c-media-oper
  clear both
  height 20px
  margin-top 8px
  font-size 12px
  color #C3C3C3
  line-height 20px
  > p
    float left
      
.c-media-qing-more
  overflow hidden
  width 100%
  margin-bottom 12px
  img
    float left
    width 33.3%
    height: auto; 
    padding-right 5px
    box-sizing border-box
    max-height 100%
    &:last-of-type
      padding-right 0
      
.c-media-video
  position relative
  overflow hidden
  .media-video-btn
    position absolute
    top 50%
    left 50%
    margin-left -25px
    margin-top -25px
    width 50px
    height 50px
    background rgba(0,0,0,0.3)
    border-radius 100px
    border 1px solid transparent
    &:after
      content ''
      position absolute
      top 16px
      left 18px
      width 0
      height 0
      border-top 9px solid transparent
      border-left 16px solid #fff
      border-bottom 9px solid transparent
  .c-media-time
    position: absolute;
    background: rgba(27, 27, 27, 0.4);
    border-radius: 2px;
    color: #fff;
    line-height: 1;
    padding: 2px;
    bottom: .4rem;
    right: .3rem;
    font-size: 10px;
    border-radius: 2px;
    width: 34px;
    height: 16px;
    line-height: 16px;
    text-align: center;

.c-media-audio
  overflow hidden
  margin-bottom 12px
  margin-top 11px
  .c-media-desc
    margin-right 10px
    word-break break-all
    
  .media-audio-pic
    position relative
    width 3.5rem
    height 3.5rem
    float right
    margin-right 0.9rem
    border-radius 50%
    border 2px solid #eee
    &:after
      content ''
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      margin auto
      z-index 100
      width 0
      height 0
      border-top 9px solid transparent
      border-left 16px solid #fff
      border-bottom 9px solid transparent
    
    > img
      background url(./assets/audio_default.png) center no-repeat
      background-size 100% 100%
      display block
      width 100%
      min-height 100%
      border-radius 50%      
    
.c-empty
  flex 1
  align-items center
  justify-content center
  display flex
  margin-top -72px  
  p
    width 80px
    height 80px
    text-align center
    img
      width 100%


